.bg-element {
  @include filter(blur(5px));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url(/assets/images/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
