nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  margin: 0 auto;
  width: 100%;

  .home &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -100%;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid $black;
  }

  .post & {
    display: block;
    position: static;
  }

  .nav-list {
    padding: 1em;
    text-align: center;
  }

  li {
    list-style: none;
    vertical-align: top;
    display: inline-block;
    padding: 0 .7em;

    @include sb-media(31.25em) {
      padding: 0 1em;
    }
  }

  a {
    display: block;
    min-height: 4.3em;
    width: 4.3em;
    text-decoration: none;
    font-size: medium;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .icon-twitter-logo {
    position: relative;
    top: 7px;
  }
}

.js .offScreen {
  position: absolute;
  top: -50px;
}

.nav-no-arrow {
  &:before {
    display: none !important;
  }
}
