<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <meta name="description" content="{{meta['description']}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!--[if (lt IE 9) & (!IEMobile)]>
      <link href="/assets/css/old-ie.css" rel="stylesheet">
  <![endif]-->
  <!--[if (gte IE 9) | (IEMobile)]><!-->
      <link href="/assets/css/styles.css" rel="stylesheet">
  <!--<![endif]-->
  <script>
    window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
    grunticon(["/assets/grunticon/icons.data.svg.css", "/assets/grunticon/icons.data.png.css", "/assets/grunticon/icons.fallback.css"]);
  </script>
  <noscript>
    <link href="/assets/grunticon/icons.fallback.css" rel="stylesheet">
  </noscript>
</head>
<body>
  <nav>
    <ul class="nav-list">
      <li><a class="icon-github-logo" href="#">Github</a></li>
      <li><a class="icon-twitter-logo" href="#">Twitter</a></li>
      <li><a class="icon-adn-logo" href="#">App.net</a></li>
    </ul>
  </nav>
  <div class="page-wrapper">
